@page "/MenuInicial"
@using GOTinforcavado.Auxiliar
@using Blazored.SessionStorage
@using GOTinforcavado.Services
@using Shared.models
@inject NewsLetterService NewsLetterService
@inject ISessionStorageService SessionStorage

<Cabecalho imagem="true" />

@* <Cabecalho imagem="false"  botoes="Cabecalho.Botoes.Novo"/>

<Cabecalho imagem="false"  >
    <botoesrf>
        <p>Botoes rf</p>
    </botoesrf>
</Cabecalho> *@

<Introdutoria />


@if (AvisoVisivel)
{
    <div class="aviso">
        <a href="https://inforcavado.com" class="textoaviso" target="_blank">
            Publicidade ou avisos importantes para cliente
        </a>
        <span class="material-symbols-outlined" style="color:white; " @onclick="EsconderAviso">
            close
        </span>
    </div>
}

<ChatBot />


<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined">

<div class="card">
    <div class="cardsec">
        <p class="textoinicial">
            Ajuda e contacto
        </p>
        <p class="textosecundario">
            Oferecemos suporte completo aos nossos clientes. Seja para esclarecer dúvidas sobre produtos e serviços,
            solucionar questões técnicas de TI e administração de redes. Conte connosco!
        </p>
        <div class="container-boxes">
            <div class="boxes">
                @foreach (var box in ListaBoxes)
                {
                    <ZonaEscolha TituloBox="@box.Titulo"
                                 TextoBox="@box.Descricao"
                                 Destino="@box.Link"
                                 LinkImagem="@box.Imagem"
                                 NomeImagem="@box.AltImagem" />
                }
            </div>
        </div>

        <div class="final-text">
            *Válido para clientes que possuam o contrato de garantia tecnológica e com banco de horas disponível no Contrato de continuidade.
        </div>
    </div>
</div>


<div class="Noticia">
    <div class="TituloNoticias">
        <p>Newsletter Inforcávado</p>
    </div>
    <div class="SubtituloNoticias">
        <p>Novidades sobre os nossos softwares, legislação e muito mais.</p>
    </div>

    <div class="ContainerEmail">
        <div class="EmailInputWrapper">
            <input type="email" placeholder="Coloque aqui o seu e-mail" class="EmailInput" @bind="email" />
            <button class="SubscribeButton" @onclick="Subscrever">Subscrever</button>
        </div>
    </div>
</div>

<Rodape />

<Cookies />


@code {

    List<Boxes> ListaBoxes = new List<Boxes>();

    protected override void OnInitialized()
    {

        ListaBoxes.Add(new Boxes(
            "Apoio ao Cliente",
            "Ajuda e suporte aos softwares Inforcávado e área de TI e administração de redes.",
            "/Apoio",
            "/imagens/default.png",
            "Imagem de Apoio"
        ));
        ListaBoxes.Add(new Boxes(
            "Comercial",
            "Questões comerciais, licenças, orçamentos, formações e Implementações de software.",
            "/Comercial",
            "/imagens/default.png",
            "Imagem de Comercial"
        ));

        
    }

    private bool AvisoVisivel = true;

    protected override async Task OnInitializedAsync()
    {
        var avisoOculto = await SessionStorage.GetItemAsync<bool>("avisoOculto");
        AvisoVisivel = !avisoOculto;
    }

    private async Task EsconderAviso()
    {
        AvisoVisivel = false;
        await SessionStorage.SetItemAsync("avisoOculto", true);
    }


    private string email;

        private async Task Subscrever()
        {
            if (string.IsNullOrWhiteSpace(email))
            {
   
                return;
            }

         
            var newsLetter = new NewsLetter
            {
                Email = email
            };

            try
            {
                
                await NewsLetterService.AddAsync(newsLetter);

             
                email = string.Empty;
            }
            catch (Exception ex)
            {
                
            }
        }
    

}

<style>
    .card {
        background: #fff;
        display: flex;
        justify-content: center;
        padding: 32px 140px 60px 140px;
    }

    .cardsec {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .textoinicial {
        white-space: nowrap;
        font-family: "Poppins";
        font-size: 32px;
        font-weight: 600;
        color: #12444A;
        width: 278px;
        text-align: center;
    }

    .textosecundario {
        font-family: "Sora";
        font-size: 18px;
        font-weight: 400;
        color: #414D4D;
        max-width: 904px;
        text-align: center;
        padding-bottom: 24px;
        padding-top: 16px;
    }


    .container-boxes {
    }

    .boxes {
        display: flex;
        gap: 16px;
        justify-content: center;
    }

    
    .final-text {
        width: 678px;
        height: 13px;
        margin-top: 28px;
        font-family: "Sora";
        font-size: 10px;
        font-weight: 400;
        letter-spacing: 0px;
        color: #758A8A;
        opacity: 1;
        text-align: center;
        align-self: center;
    }

    .Noticia {
        width: 100%;
        height: 280px;
        background: #4C969E;
        padding: 60px 0;
    }

    .TituloNoticias {
        color: #0D3439;
        font-family: "Poppins";
        font-size: 32px;
        font-weight: 600;
        display: flex;
        justify-content: center;
    }

    .SubtituloNoticias {
        padding-top: 16px;
        display: flex;
        justify-content: center;
        color: #F2F4F4;
        font-family: "Sora";
        font-size: 18px;
        font-weight: 500;
    }

    .ContainerEmail {
        margin-top: 32px;
        display: flex;
        justify-content: center;
    }

    .EmailInputWrapper {
        position: relative;
        width: 538px;
    }

    .EmailInput {
        width: 100%;
        padding: 12px 126px 12px 16px;
        border-radius: 8px;
        font-size: 16px;
        font-family: "Sora";
        outline: none;
        box-sizing: border-box;
        color: #94A4A4;
        opacity: 1;
    }

    .SubscribeButton {
        position: absolute;
        top: 4px;
        right: 4px;
        width: 113px;
        height: 40px;
        background: #1B7C87;
        border-radius: 8px;
        border: none;
        color: white;
        font-weight: 600;
        cursor: pointer;
        font-family: "Sora";
    }

   
    .aviso {
        height: 32px;
        background: #0D3439;
        display: flex;
        align-items: center;
        padding: 0 140px;
        justify-content: center;
    }


    .textoaviso {
        font-family: "Poppins";
        font-size: 16px;
        font-weight: 400;
        color: #ffffff !important;
        text-decoration: underline white;
        display: flex;
        justify-content: center;
        width: calc(100% - 24px);
    }

    .fechar-aviso {
        margin-left: auto;
        cursor: pointer;
        color: white;
        font-size: 16px;
    }

   

    @@media(max-width: 1280px){
        .aviso {
            height: 32px;
            background: #0D3439;
            display: flex;
            align-items: center;
            padding: 0 96px;
            justify-content: center;
        }

        .card {
            background: #fff;
            display: flex;
            justify-content: center;
            padding: 32px 188px 60px 188px;
     
        }

       
    }

    @@media(max-width: 1024px) {
        .aviso {
            height: 32px;
            background: #0D3439;
            display: flex;
            align-items: center;
            padding: 0 40px;
            justify-content: center;
        }


        .textoaviso {
            font-family: "Poppins";
            font-size: 16px;
            font-weight: 400;
            color: #ffffff !important;
            text-decoration: underline white;
            display: flex;
            justify-content: center;
            width: calc(100% - 24px);
        }

        .fechar-aviso {
            margin-left: auto;
            cursor: pointer;
            color: white;
            font-size: 16px;
        }

       
    .card {
        background: #fff;
        display: flex;
        justify-content: center;
        padding: 32px 60px 60px 60px;
    }

        .final-text {
            width: 664px;
            height: 13px;
            margin-top: 28px;
            font-family: "Sora";
            font-size: 10px;
            font-weight: 400;
            letter-spacing: 0px;
            color: #758A8A;
            opacity: 1;
            text-align: center;
            align-self: center;
        }
        
    }


    @@media(max-width: 768px) {

        .aviso {
            height: 32px;
            background: #0D3439;
            display: flex;
            align-items: center;
            padding: 0 40px;
            justify-content: center;
        }


        .textosecundario {
            font-family: "Sora";
            font-size: 18px;
            font-weight: 400;
            color: #414D4D;
            max-width: 662px;
            text-align: center;
            padding-bottom: 24px;
            padding-top: 16px;
        }

        .card {
            background-color: #FFFF;
            display: flex;
            justify-content: center;
            padding: 28px 24px 60px 24px;
        }

        .final-text {
            width: 664px;
            height: 13px;
            margin-top: 28px;
            font-family: "Sora";
            font-size: 10px;
            font-weight: 400;
            letter-spacing: 0px;
            color: #758A8A;
            opacity: 1;
            text-align: center;
            align-self: center;
        }
    }


    @@media(max-width: 745px){

        .container-boxes {
        }

        .boxes {
            display: flex;
            gap: 16px;
            justify-content: center;
            flex-direction: column;
        }

        .final-text {
            width: 664px;
            height: 13px;
            margin-top: 28px;
            font-family: "Sora";
            font-size: 10px;
            font-weight: 400;
            letter-spacing: 0px;
            color: #758A8A;
            opacity: 1;
            text-align: center;
            align-self: center;
        }
    }

    @@media(max-width: 640px) 
    {
        .introdutor {
            height: 860px;
            background: #E8F2F3;
            display: flex;
            justify-content: flex-start;
            padding: 32px 40px 130px 40px;
            flex-direction: column;
        }

        .primeirotexto {
            padding-top: 0px;
            white-space: nowrap;
            font-family: "Sora";
            font-size: 18px;
            font-weight: 500;
            color: #6ACFC7;
            width: 296px;
        }

        .titulo {
            margin: 0;
            font-family: "Poppins";
            font-size: 44px;
            font-weight: 600;
            color: #12444A;
            white-space: normal;
            padding-bottom: 8px;
            width: 328px;
        }

        .descricao {
            font-family: "Sora";
            font-size: 18px;
            font-weight: 500;
            color: #414D4D;
            width: 348px;
        }

        .imagem {
            justify-content: center;
            display: flex;
            margin-top: 32px;
            /* padding-bottom: 20px; */
            width: 260px;
        }

            .imagem img {
                height: 396px;
            }

        .aviso {
            height: 64px;
            background: #0D3439;
            display: flex;
            align-items: center;
            padding: 0 40px 0 70px;
            justify-content: center;
        }

        .final-text {
            width: 664px;
            height: 13px;
            margin-top: 28px;
            font-family: "Sora";
            font-size: 10px;
            font-weight: 400;
            letter-spacing: 0px;
            color: #758A8A;
            opacity: 1;
            text-align: center;
            align-self: center;
        }
        .textoaviso {
            font-family: "Poppins";
            font-size: 16px;
            font-weight: 400;
            color: #ffffff !important;
            text-decoration: underline white;
            display: flex;
            width: calc(100% - 126px);
            justify-content: center;
        }

        

        .card {
            background-color: #FFFF;
            display: flex;
            justify-content: center;
            padding: 28px 24px 60px 24px;
        }

        .textosecundario {
            font-family: "Sora";
            font-size: 18px;
            font-weight: 400;
            color: #414D4D;
            width: 348px;
            text-align: center;
            padding-bottom: 24px;
            padding-top: 16px;
        }

        .boxes {
            display: flex;
            gap: 16px;
            justify-content: center;
            flex-direction: column;
        }


        .final-text {
            width: 340px;
            height: 13px;
            margin-top: 28px;
            font-family: "Sora";
            font-size: 10px;
            font-weight: 400;
            letter-spacing: 0px;
            color: #758A8A;
            opacity: 1;
            text-align: center;
            align-self: center;
        }

        .Noticia {
            height: auto;
            padding: 40px 0;
        }

        .TituloNoticias,
        .SubtituloNoticias,
        .ContainerEmail {
            width: 348px;
            margin: 0 auto;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .EmailInputWrapper {
            width: 348px;
        }

        .EmailInput {
            padding: 12px 126px 12px 16px;
            font-size: 14px;
        }

        .SubscribeButton {
            width: 100px;
            height: 36px;
            font-size: 14px;
        }
    }
    
            
            
        </style>